@import "../../sass/grid";
@import "../../sass/variables";
@import "../../sass/mixins";

.booking {
  padding: 7rem 0 4rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: 4rem 0 2.5rem 0;
  }

  .book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 50%,
        transparent 50%
      ),
      url(../../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    @include respond(tab-land) {
      background-image: linear-gradient(
          105deg,
          rgba($color-white, 0.9) 0%,
          rgba($color-white, 0.9) 65%,
          transparent 65%
        ),
        url(../../img/nat-10.jpg);

      background-size: cover;
    }

    @include respond(tab-port) {
      background-image: linear-gradient(
          to right,
          rgba($color-white, 0.9) 0%,
          rgba($color-white, 0.9) 100%
        ),
        url(../../img/nat-10.jpg);
    }

    form {
      width: 50%;
      padding-bottom: 2rem;
      @include respond(tab-land){
        width: 65%;
      }

      @include respond(tab-port){
        width: 100%;
      }

      .action {
        margin-left: 5rem;
        text-align: center;
      }

      .action:not(:last-child) {
        margin-bottom: 2rem;
      }

      label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: -45rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
      }

      input {
        outline: none;
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 80%;
        display: block;
        transition: all 0.3s;

        &:placeholder-shown + label {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-4rem);
        }

        @include respond(tab-port){
          width: 90%;
        }
      }

      .focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
        border-bottom: 3px solid $color-primary;
      }
      
      .invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
  }
}
